<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminlogin.css' %}">
    <title>Labadmin Login</title>
</head>
<body>
<div class="div2"> DOORSTEP LABS</div>

<div class="div1">
    <br>
    <h2>Thanks for Doing business with us our officials will contact you as soon as possible..</h2>



    <h2>To make changes in your pricing and test values contact us or write an Email  to <a href="www.doorsteplabs@mail.com">doorstepmail@gmail.com</a> </h2>

</div>





</body>
</html>