<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/aboutus.css' %}" >
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
    <title>aboutus</title>
</head>
<body>
<div class="div1" > <h2>About Us</h2>
<p>We Doorstep laboratory is a private  bussiness .currently it a unregistered program .This is developed by Aravind CP currently python fullstack developer intern from ScopeIndia Trivandrum ,this is a part of my project .You can connect me via linkedin</p>
 <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="aravind-c-p-57b676196" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/aravind-c-p-57b676196?trk=profile-badge">Aravind C P</a></div>
</div>

</body>
</html>