<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
   <link type="text/css" rel="stylesheet" href="{% static 'css/homestyle.css' %}" >
</head>
<body>
<div class="div1">
    <h2>Door Step Labs
    <br> Your Trusted laboratory Partner</h2>
</div>

<div>
    <h4 class="h4">Our Motive </h4>
    <br>
    <article class="article">  To help the people in  this pandemic situation we have come across with the idea of door step labs .One can register themselves to our web application and create an account within seconds .Our teams have made account creation as simple as possible and we protect your data and ensure your privacy towards us .Laboratory nearby your areas are listed in our application and you can choose the desired lab according to your preference .You can able to write reviews to the lab after the experiences that you  faced while testing and rate them according to your satisfaction ,so our application ensure your satisfaction and safety </article>
</div>

</body>
</html>