<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>More Infromation</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style1.css' %}" >
</head>
<body>
<div class="class1">
  <h2 id="developer_contact">Developer Contact</h2>
    <br>
  <p>For More Information Contact us via  <a href="www.gmail.com">Email</a> </p>
    <br>
  <p>Developed by Aravind Cp,Trivandrum ,India.This application was created using Django framework </p>

</div>
<div id="whyus" class="class1">
<h2>Why Us?</h2>
    <br>
    <p>Doorstep labs was created to help people
        <br>
    <br> In this pandemic most of the disabled people are not able to get their regular checkups done,so this will be a solution to  especially those people who are disabled and sicked
    </p>
</div>

<div id="carrier" class="class1">
    <h2>Carriers</h2>
    <p>
        Currently we are not hiring anyone .stay updated with us for future carrier
    </p>

</div>

<div id="addlab" class="class1">
    <br>
    <h2>Add your Laboratory with us! Email and get in touch with our officials</h2>
    <br>
    <h3>For more details contact <a href="">partner.us@doorsteplabs.com</a> </h3>

</div>

<div id="termsandconditions" class="class1">
<h2>Terms And Conditions</h2>
    <br>
    <p> Doorstep lab may collect your personal data .This process is for making a smooth environment for user optimization in future. Our company will not be sharing your data to any third party till now ,in future we may share it to other for commercial purpose. we respect your online privacy and data  </p>
</div>

<div id="privacy-policy" class="class1">
<h2>Privacy Policy</h2>
    <br>
    <P>A Terms & Conditions agreement lets you include language to forbid such activity, and can also provide a remedy (such as accounts deletion) in the event these abuses do occur.

It's highly recommended that online business (regardless if they operate just a simple website or a simple mobile app) that allow or require a user to register for an account have this agreement in place and present it to users at the time of their account registration.</P>
</div>
</body>
</html>