<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Signin</title>
</head>
<body class="div1">
<h1>Welcome to doorstep labs log in to your Account</h1>
<div >
    {% if messages %}
    {% for message in messages %}
    <h2>{{ message }}</h2>
    {% endfor %}
    {% endif %}
  <form method="post" action="" >
    {% csrf_token %}
    <label class="label">Enter your first name:</label>
    <input type="text" name="name" placeholder="firstname">
    <br>
       <br>

    <label class="label" >Enter your password:</label>
    <input type="password" name="password" placeholder="password">
    <br>
      <br>


    <input type="submit">
  </form>
</div>
</body>
</html>