*{margin:0px;
padding:0px;}
p{font-size:20px;}
.class1{
background-color:black;

padding-bottom:50px;
width:100%;
color:white;
}
h2{margin-left:10px;
padding-top:25px;
text-decoration: underline;}
p{margin-left:10px;
margin-b}